{% for host in groups[ "kafka" ]|sort %}
{{ hostvars[host].ansible_facts.default_ipv4.address }} kafka{{loop.index}}
{% endfor %}
{% for host in groups[ "zookeeper" ]|sort %}
{{ hostvars[host].ansible_facts.default_ipv4.address }} zookeeper{{loop.index}}
{% endfor %}
